/*GENERAL */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,body{
  overflow-x: hidden;
  overflow-y: visible;
}
html {
  min-height: 100%;
  position: relative;
}
body {
  margin-bottom: 450px;
}

header img{
  width: 200px;
  display: inline-block;
  height: auto;
}

/*FOOTER */
footer{
  background-color: rgba(14, 103, 30, 1);
  margin-top: 50px;
  padding: 20px;
  padding-top: 50px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 450px;
  color: white;
  font-size: 16px;
  text-align: center;
}

footer a{
  color: white;
  text-decoration: none;
}

footer img{
  width: 100%;

}

footer a:hover{
  color: #00ac5d;
  font-weight: bold;
  text-decoration: none;

}

.footer-info{ /* TEXTO SPONSORS, CONTACTO Y REDES SOCIALES */
  text-align: center;
}

.footer-info ul li{
  display: inline;
}

.image-container{
  width:100%;
}

.text{
  display: inline-block;
  vertical-align: super;
}

.text h2{
  margin-bottom: 0;
  font-weight: 400;
}
.text p, #profile_picture_change{
  font-size: 16px;
  color: rgb(55, 221, 97);
  font-weight: bold;
}
.user-data{
  width: 100%;
}
.user-picture, .user-picture-small{
  object-fit: cover;
  width: 50px;
  display: inline-block;
  height: 50px;
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 10px;
  vertical-align: text-bottom;
}
.user-picture-small{
  width: 25px;
  height: 25px;
  vertical-align: middle;
}
.user-data h2{
  text-align: center;
}
.user-data h2, .user-data span{
  display: none;
}
.user-data ul, footer ul{
  list-style: none;
}

.contenedor{
  /*display: flex;*/
}

#profile_picture_change{
  transition: .5s ease;
  opacity: 0;
  transform: translate(0%, -275%);
  text-align: center;
  width: 100%;
}

#profile_picture_change a{
  color: white;
  background-image: linear-gradient(rgba(196, 195, 212,0.5), gray);
  padding: 40px 50px 30px 50px;
  height: 45px;
  width: 100%;
  border-bottom-right-radius: 90px;
  border-bottom-left-radius: 90px;
  cursor: pointer;
}

/* INDEX */

#img-logo{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}


/* VALIDATION MESSAGE */
.invalid-feedback {
  display: block;
  font-size: 80%;
  color: #dc3545;
}


/*FAQS */

.preguntas{
  background: rgba(255,255,255,1);
  text-align: center;
  padding: 20px;
  margin-top: 60px;
  border: 2px solid black;
  border-radius: 80px;
  font-size: 25px;
  margin-bottom: 50px;
}

/*MEDIAS */
@media (min-width: 460px){
  .answers{
    margin: 10px;
    padding: 20px;
    font-size: 20px;
  }
  #pregunta{
    font-size: 2rem;
  }
}

@media (min-width: 992px) {

  body{
    margin-bottom: 200px;
  }
  footer{
    height: 200px;
  }
  .contenedor{
    display: flex;
  }
  .answers{
    box-sizing: border-box;
    margin: 10px;
    padding: 20px;
  }
  .user-data h2, .user-data span{
    display: inline;
  }

  .image-container{
    width:25%;
  }
  .user-picture{
    object-fit: cover;
    width: 200px;
    display: block;
    height: 200px;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .text{
    display: none;
  }
  .user-data{
    width: 75%;
  }
  .user-data ul, .user-data .container{
    margin-top: 10px;
    border-top: 1px solid rgb(220, 223, 224);
    padding-top: 10px;
  }
  .image-container, .user-data{
    height: auto;
  }

  .image-container:hover #profile_picture_change {
    opacity: 1;
  }

  /* JUEGO*/
  .title{
    display: flex;
    flex-direction: row-reverse;
  }

  #pregunta{
    margin-right: auto;
    margin-left: auto;
    flex: 1;
  }
  #timer{
    vertical-align: middle;
    display: inline;
    z-index: 1;
    font-size: 2.25rem;
    margin-right: 20px;
    margin-top: 5px;
    border: 2px solid green;
    background-color: white;
    transition: background-color 3s ease-out;
    border-radius: 50px;
    width: 75px;
    height: 75px;
  }

  .answers{
    margin: 20px;
    font-size: 25px;
    padding: 5%;
  }
  #result-message{
    z-index: 30000;
    color: white;
    font-weight: bold;
    position: relative;
    top: 33%;
    font-size: 50px;
  }
}

@media (min-width: 1221px) {

  .answers{
    box-sizing: border-box;
    margin: 20px;
    padding: 50px;
  }

  .user-picture{
    object-fit: cover;
    width: 200px;
    display: block;
    height: 200px;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  #result-message{
    top:45%;
  }
}

@keyframes rotate {
  to {
    transform: rotate(1turn)
  }
}
